@{
    ViewBag.Title = "Something About Deshlan";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<div class="row">

    <div class="col-md-4">
        <h2> Bio</h2>
        <p>
            My name is Deshlan Pillay.
            I am 19 years old and come from Durban. I attended Morningside Primary School and Durban High School. The subjects of my choice were Physics,
            Lifes Sciences, Information Technology and Geography. 2021 was my first year with the University of Pretoria in Bcom Informatics. I am currently
            in my second year. In my spare time, I find myself enjoying online gaming. The 2 games I play the most are called Genshin Impact and Valorant.
            My favourite animals are Spiders, Snakes and Lizards all of which I would keep as pets. My dream is to one day own a Ferrari. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Deshlan</h2>
        <img src="~/Content/1654143066298.jpg" height="500" width="400" />
    </div>
   
</div>

