@{
    ViewBag.Title = "Home Page";

}

@model HW03_u21481084.Models.FileModel
<div class="row" id="heading">
    <h2>myMedia</h2>
    <h4>File uploading/downloading</h4>
</div>

<div class="row" id="body1">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>
            Yae Miko is the Head Shrine Maiden at the Grand Narukami Shrine 
            and is an old friend of Raiden Shogun (Baal) and Zhongli (Morax). 
            While she may be beautiful, don't be fooled - she is packed with knowledge
            as old as time and should not be underestimated.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Option Select</h2>

        





        @using (@Html.BeginForm("FileUpload", "Home", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
        {

            <div>
                Document @Html.RadioButton("FileType", "Document")<br />
                Image @Html.RadioButton("FileType", "Image")<br />
                Video @Html.RadioButton("FileType", "Video")<br />
            </div>

            <input type="file" name="files" id="files" multiple="multiple" />
            <br>

            <input type="submit" class="btn" name="submit" />
        }


    </div>
       
</div>
    